.bg {
    /* background: rgb(43, 64, 170); */
    background: #2255e3;
}

.bg-blue-light {
    /* background: rgb(43, 64, 170); */
    background: #3d68e0;
}

.color-filter {
    filter: brightness(0) saturate(100%) invert(30%) sepia(28%) saturate(5453%) hue-rotate(216deg) brightness(88%) contrast(104%);
}

.white-filter {
    filter: invert(100%);
}

.color-pr {
    color: #2255e3;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans&display=swap');

.font{
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}